<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zookidash</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero has-text-centered is-dark">
        <div class="hero-body">
            <h1 class="title">Zookidash</h1>
            <h2 class="subtitle">Zookeeper dashboard</h2>
        </div>
    </section>

    <footer class="footer has-text-centered is-dark">
        <div class="content">
            <p><a href="https://github.com/hotblac/zookidash">Zookidash @ Github</a></p>
        </div>
    </footer>
</body>
</html>